/* Основное содержимое страницы */
.main-content {
    padding-bottom: 60px; /* Добавляем отступ снизу, равный высоте подвала */
}

/* Подвал */
.footer {
    position: fixed; /* Закрепляем подвал */
    bottom: 0; /* Располагаем подвал внизу */
    width: 100%; /* Растягиваем подвал по всей ширине */
    background-color: #222; /* Цвет фона */
    color: #f4a444; /* Цвет текста */
    text-align: center;
    padding: 10px 0; /* Внутренний отступ */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5); /* Лёгкая тень сверху */
    font-size: 14px;
    z-index: 100;
}
